tune-share/src/resources/artist.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Artist">
        <xsd:all>
            <xsd:element name="artistID" type="xsd:integer" minOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="totalSongs" type="xsd:integer" minOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>