tune-share/src/resources/song.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Song">
        <xsd:all>
            <xsd:element name="songID" type="xsd:integer" minOccurs="1"/>
            <xsd:element name="title" type="xsd:string" minOccurs="1"/>
            <xsd:element name="duration" type="xsd:time" minOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>